.accordion section,
.accordion h2,
.accordion h2 a,
.accordion-content {
  transition: all .5s ease;
}

.accordion section {
  margin-top: 1em;
  height: 5em;
  overflow: hidden;
  background: #f52436;
  border-radius:15px;
}

.accordion h2 {
  box-sizing: border-box;
  padding: 1em;
  font-size: 1.5em;
  margin: 0;
}

.accordion h2 a {
  text-decoration: none;
  color: white;
}

.accordion h2:hover {
  cursor: pointer;
}

.accordion-content {
  padding: 2em;
  height: 10.4em;
  opacity: 0;
  overflow: auto;
  color: #c41d2b;
  background-color: rgba(0,0,0,.2);
}

.accordion-content a {
  color: #c41d2b;
}

.accordion .active-accordion {
  height: 18.9em;
}

.accordion .active-accordion i {
  transform: rotate(.25turn);
}

.accordion .active-accordion .accordion-content {
  opacity: 1;
  color: black;
}

.accordion .active-accordion a {
  color: white;
}