body {
  background-color: #333333;
  color: white;
}

body, select, button {
  font-size: 16px;
  font-family: Quicksand; 
}

a {
  transition: .2s ease;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

/* button */

.button {
  border: none;
  padding: 5px 15px;
  color: white;
  background: #e62031;
  text-decoration: none;
  transition: .2s ease;
}

.button:hover {
  cursor: pointer;
  background: #a51723;
}

/* nav styles */

nav {
  width:100%;
  height: 32px;
  background-color: #1f1f1f;
  z-index: 100;
  position: absolute;
}

header nav ul,
#footer-nav {
  float: right;
}

li {
  padding: 8px 1.5em;
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

nav a:hover,
nav a:active,
.active {
  color: #e62031;
  text-decoration: none;
}

#not-home #heading-section {
  height: 430px;
  clear: both;
  width: 100%;
  background-size: cover;
  background-image: url('../img/non-home-bg.jpg');
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,.2);
}

h1, h2 {
  font-family: Lora;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  padding: 190px 0 160px 0;
  color: white;
  text-shadow: 0px 0px 15px rgba(0,0,0,.8);
}

/* main content section */

main {
  clear: both;
  width: 100%;
  max-width: 900px;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding:  60px 0;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  margin: .5em auto;
}
  
h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #e62031;
}

/* filter styling */

#select-filters {
  width: 500px;
  margin: 0 auto;
  padding: 1em;
}

#select-filters p {
  font-weight: bold;
  font-size: 1.2em;
  padding: .6em;
}

#select-filters select {
  margin: .5em;
  padding: .5em;
}

#select-filters .left {
  text-align: right;
  float: left;
  width: 200px; 
}

#select-filters .right {
  width: 300px;
  float:right;
}

#select-filters .buttons {
  clear: both;
  text-align: center;
  padding: 2em 0 1em 0;
}

/* activity styling */

.activity-container {
  margin: 1em auto;
  width: 780px;
  height: 300px;
  transition: .1s ease;
}

.activity-container img {
  float: left;
  width: 480px;
  height: 300px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
}

.activity-container .activity-info {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  float: right;
  padding: 0 0 15px 60px;
}

.activity-container .activity-info p {
  margin-bottom: .5em;
}

.activity-container .activity-info p:nth-child(2),
.activity-container .activity-info p:nth-child(3) {
  margin-top: .5em;
  font-weight: bold;
}

.activity-container .activity-info p:nth-child(5) {
  height: 120px;
  overflow: auto;
}

.map-button {
  margin-right: 10px;
}

.map-button,
.website-button {
  display: inline-block;
  box-sizing: border-box;
  width: 115px;
  padding: 7px 15px;
  text-align: center;
  font-weight: 400;
}

.suitcase-button {
  width: 100%;
}

/* footer */

footer {
  clear: both;
}

#to-top,
#logo {
  float: left;
}